@import url("../css/partials/variables.css");

body {
  font-family: var(--bs-body-font-family);
  background-color: var(--bs-pampas);
  margin: 0;
  color: var(--bs-body-color);
  line-height: var(--bs-body-line-height);
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 2rem;
}

.global-header {
  background-color: var(--bs-black);
  color: var(--bs-white);
  padding: 1rem;
}

.site-title {
  display: flex;
  align-items: center;
}

.logo {
  height: 0;
  width: 0;
  margin-right: 1rem;
  border-top: 34px solid var(--bs-light-green);
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
}

.logo.large {
  border-top: 80px solid var(--bs-light-green);
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  margin: 2rem 0;
}

.card {
  background: var(--bs-white);
  padding: 2rem;
  margin-bottom: 2rem;
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
  border-radius: var(--bs-border-radius);
}

h1 {
  font-family: var(--bs-font-serif);
  text-transform: uppercase;
  margin-top: 0;
}

h2 {
  color: var(--bs-chathams-blue);
}

ul {
  padding-left: 1.5rem;
}

.wireframe {
  margin-top: 2rem;
}

.box {
  border: 1px dashed var(--bs-gray-500);
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  background-color: var(--bs-gray-100);
}

.park-footer {
  background-image: url("../public/images/topo_pattern.png");
  padding: 2rem;
  text-align: center;
  font-size: 0.9rem;
  color: var(--bs-grey-2);
}