body {
  background-color: #ddd;
  font-size: 20px;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#content {
  max-width: 60%;
  margin: 40px auto;
  border: 1px solid darkgrey;
  padding: 50px;
  position: relative;
}

p {
  color: #035f9c;
  font-size: 1.3em;
  margin-top: 18px;
  margin-bottom: 12px;
}

hr {
  height: 3px;
  background-color: #035f9c;
  margin: 30px auto;
  width: 80%;
  border: 0;
}

h1, h2, p {
  text-align: center;
}

h1 {
  font-size: 2.6em;
  margin: 10px 0 6px 0;
}

h2 {
  font-size: 2em;
  margin: 26px 0 10px 0;
}

img {
  display: block;
  margin: 0 auto;
  width: 50%;
}

#topics {
  width: 55%;
  margin: 0 auto;
  line-height: 1.5em;
}

.list {
  list-style-type: none;
  padding-left: 0;
  margin: 0 auto 18px auto;
  width: 100%;
}

.list li {
  text-align: left;
  margin: 6px 0;
}

#picker {
  position: absolute;
  left: 55px;
  bottom: 55px;
}

#webdevlist {
  font-size: 0.85em;
  padding: 2px 6px;
}